doctype html 
html
  head
    title  Udit's Dance Website 
    block style
body  
    nav.navBar 
        ul 
            li #[a(href = '/') Home]
            li #[a(href = '/') About]
            li #[a(href = '/contact') Contact Us]
    block content 

