extends base.pug 

block style 
    style 
        include ../static/style.css
block content
    div.welcomeContainer
      h1 Welcome to Udit's Dance Academy 
      p Starting of a new dance era

    div.cardContainer
      h1 Our Missions
      div.cards
        div.card
          h3 Dance Perfection 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos nam aspernatur reprehenderit vero quo, et deserunt? Ut dolores ab quam voluptatum eos reprehenderit sint vitae perspiciatis tenetur saepe. Qui.
        div.card
          h3 Dance Dedications 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos nam aspernatur reprehenderit vero quo, et deserunt? Ut dolores ab quam voluptatum eos reprehenderit sint vitae perspiciatis tenetur saepe. Qui.
        div.card
          h3 Dance Styles 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos nam aspernatur reprehenderit vero quo, et deserunt? Ut dolores ab quam voluptatum eos reprehenderit sint vitae perspiciatis tenetur saepe. Qui.

    div.sponsorSection
      h2  Sponsers of Our Gym 
      div.sponsorsCard
        div.amazon.sponsorsBox
         img(src="../static/amazon.png", alt="amazon")
        div.facebook.sponsorsBox
         img(src="../static/facebook.jpg", alt="facebook")
        div.amazon.sponsorsBox
         img(src="../static/swiggy.png", alt="swiggy")