//- Here I write pug in pug not in html 

doctype html
html
  head 
    title Udit's Dance Website 
    style
      include ../static/style.css
  //- STARTING NAVBAR (SEE THE CODE CAREFULLY)
  body 
    nav.navBar 
      ul 
        li #[a(href = '/') Home]
        li #[a(href = '/') About]
        li #[a(href = '/') Contact Us]
    div.welcomeContainer
      h1 Welcome to Udit's Dance Academy 
      p Starting of a new dance era

    div.cardContainer
      h1 Our Missions
      div.cards
        div.card
          h3 Dance Perfection 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos nam aspernatur reprehenderit vero quo, et deserunt? Ut dolores ab quam voluptatum eos reprehenderit sint vitae perspiciatis tenetur saepe. Qui.
        div.card
          h3 Dance Dedications 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos nam aspernatur reprehenderit vero quo, et deserunt? Ut dolores ab quam voluptatum eos reprehenderit sint vitae perspiciatis tenetur saepe. Qui.
        div.card
          h3 Dance Styles 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos nam aspernatur reprehenderit vero quo, et deserunt? Ut dolores ab quam voluptatum eos reprehenderit sint vitae perspiciatis tenetur saepe. Qui.
