*{
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navBar{
    background-color: rgb(78, 74, 74);
    height: 12vh;
    display: flex;
    align-items: center;
}
.navBar ul {
    display: flex;
}
.navBar ul li {
    margin: 0 30px;
    list-style-type: none;
    font-size: 24px;
}
.navBar ul li a{
    color: white;
    text-decoration: none;
}